<!DOCTYPE html>
<html ng-app="Oceanic">
<head>
    <title></title>
</head>
<body>
    <div class="container-fluid" align="center" data-ng-controller="OceanicController">
        <table border="0" cellpadding="4" width="70%">
            <tr>
                <td align="center" colspan="3"><font size="6" face="Garamond"><b>Find din rute</b></font></td>
            </tr>
            <tr>
                <td bgcolor="silver" colspan="3"></td>
            </tr>
            <tr>
                <td align="left"><b>Start og Slut</b></td>
                <td align="right">Fra:</td>
                <td align="left">
                    <input type="text" ng-model="fraBy" id="Text2" placeholder="Indtast bynavn" data-typeahead="by for by in byer | filter:$viewValue" /></td>
            </tr>
            <tr>
                <td align="left"></td>
                <td align="right">Til:</td>
                <td align="left">
                    <input type="text" ng-model="tilBy" id="Text4" placeholder="Indtast bynavn" data-typeahead="by for by in byer | filter:$viewValue" /></td>
            </tr>
            <tr>
                <td bgcolor="silver" colspan="3"></td>
            </tr>
            <tr>
                <td align="left"><b>Fragttype</b></td>
                <td align="right">Levende dyr:</td>
                <td align="left">
                    <input type="checkbox" name="awesome" ng-model="formData.awesome" ng-true-value="ofCourse" ng-false-value="iWish">
                    Kan ikke afsendes med Oceanic</td>
            </tr>
            <tr>
                <td align="left"></td>
                <td align="right">Kølevare:</td>
                <td align="left">
                    <input type="checkbox" name="awesome" ng-model="formData.awesome" ng-true-value="ofCourse" ng-false-value="iWish"></td>
            </tr>
            <tr>
                <td align="left"></td>
                <td align="right">Anbefalet:</td>
                <td align="left">
                    <input type="checkbox" name="awesome" ng-model="formData.awesome" ng-true-value="ofCourse" ng-false-value="iWish">
                    Kan ikke afsendes med Oceanic</td>
            </tr>
            <tr>
                <td align="left"></td>
                <td align="right">Våben:</td>
                <td align="left">
                    <input type="checkbox" name="awesome" ng-model="formData.awesome" ng-true-value="ofCourse" ng-false-value="iWish"></td>
            </tr>
            <tr>
                <td align="left"></td>
                <td align="right">Forsigtig:</td>
                <td align="left">
                    <input type="checkbox" name="awesome" ng-model="formData.awesome" ng-true-value="ofCourse" ng-false-value="iWish"></td>
            </tr>
            <tr>
                <td bgcolor="silver" colspan="3"></td>
            </tr>
            <tr>
                <td align="left"><b>Vægt</b></td>
                <td align="right">Vægt i gram:</td>
                <td align="left">
                    <input type="number" ng-model="pakkeVaegt" id="Text3" placeholder="Vægt i gram" /></td>
            </tr>
            <tr>
                <td bgcolor="silver" colspan="3"></td>
            </tr>
            <tr>
                <td align="left"><b>Dimensioner</b></td>
                <td align="right">A:</td>
                <td align="left">
                    <input type="radio" name="Dimension" value="chicken" ng-model="formData.chickenEgg">
                    25x60x25</td>
            </tr>
            <tr>
                <td align="right"></td>
                <td align="right">B:</td>
                <td align="left">
                    <input type="radio" name="Dimension" value="chicken" ng-model="formData.chickenEgg">
                    40x40x40</td>
            </tr>
            <tr>
                <td align="right"></td>
                <td align="right">C:</td>
                <td align="left">
                    <input type="radio" name="Dimension" value="chicken" ng-model="formData.chickenEgg">
                    15x100x15</td>
            </tr>
            <tr>
                <td align="right"></td>
                <td align="right">D:</td>
                <td align="left">
                    <input type="radio" name="Dimension" value="chicken" ng-model="formData.chickenEgg">
                    20x80x20</td>
            </tr>
            <tr>
                <td align="right"></td>
                <td align="right">E:</td>
                <td align="left">
                    <input type="radio" name="Dimension" value="chicken" ng-model="formData.chickenEgg">
                    30x50x30</td>
            </tr>
        </table>
        <div class="row">
            <button class="btn btn-default" value="Find rute" ng-click="visRute()">
                <span><font size="4" face="Garamond">Find rute</font></span>
            </button>
        </div>
    </div>
</body>
</html>
