<div class="container-fluid" align="center">
    <div class="row overskrift">
        <div class="col-md-3" align="center">
        </div>
        <div class="col-md-9" align="left"><font size="6" face="Garamond"><b>Administration</b></font></div>
    </div>
    <div class="col-md-12 row rutebox img-rounded" align="left">
        <div class="col-md-12 row">
            <div class="col-md-3">
                Priser
            </div>
            <div class="col-md-3" align="right">
                Vægt:
            </div>
            <div class="col-md-2">
                Under 1 kg
            </div>
            <div class="col-md-2">
                1 - 5 kg
            </div>
            <div class="col-md-2">
                Over 5 kg
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-3" align="right">
                Dimensionstype:
            </div>
            <div class="col-md-3" align="right">
                A:
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="40 $" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="60 $" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="80 $" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-3" align="right">
            </div>
            <div class="col-md-3" align="right">
                B:
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="48 $" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="68 $" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="88 $" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-3" align="right">
            </div>
            <div class="col-md-3" align="right">
                C:
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="56 $" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="76 $" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="96 $" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-3" align="right">
            </div>
            <div class="col-md-3" align="right">
                D:
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="64 $" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="84 $" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="104 $" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-3" align="right">
            </div>
            <div class="col-md-3" align="right">
                E:
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="80 $" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="100 $" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="120 $" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-3" align="right">
                Fragttypefaktor
            </div>
            <div class="col-md-3" align="right">
                Levende dyr
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="-" class="form-control" disabled />
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-3" align="right">
            </div>
            <div class="col-md-3" align="right">
                Kølevare
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="1.10" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-3" align="right">
            </div>
            <div class="col-md-3" align="right">
                Anbefalet
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="-" class="form-control" disabled />
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-3" align="right">
            </div>
            <div class="col-md-3" align="right">
                Våben
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="2.00" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-3" align="right">
            </div>
            <div class="col-md-3" align="right">
                Forsigtig
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" placeholder="1.75" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <div class="col-md-12 row">
    </div>
    <div class="col-md-12 row lysrutebox img-rounded" align="left">
        <div class="col-md-12 row">
            <div class="col-md-4">
                Lufthavne
            </div>
            <div class="col-md-4" align="right">
                
            </div>
            <div class="col-md-4" align="left">
                
            </div>
        </div>
        <div class="col-md-12 row" ng-repeat="lufthavn in lufthavne">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4" align="right">{{lufthavn.navn}} :
                
            </div>
            <div class="col-md-4" align="left"><input type="checkbox" ng-model="lufthavn.aktiveret">
                Lufthavn aktiv.
                
            </div>
        </div>
        
    </div>

    <div class="row">
        <button class="btn btn-default" value="Find rute" ng-click="visRute()">
            <span><font size="4" face="Garamond">Gem Ændringer</font></span>
        </button>
    </div>
</div>
