<div class="container-fluid" align="center">
    <table border="1" cellpadding="2" width="85%">
        <tr>
            <td align="center"><font size="6" face="Garamond">Admin - Log in</font></td>
        </tr>
    </table>
    <table border="0" cellpadding="0" width="100%">
        <tr>
            <td align="right">Admin Brugernavn
            </td>
            <td align="left">

                <input type="text" ng-model="fraBy" id="Text2" placeholder="Indtast brugernavn" data-typeahead="by for by in byer | filter:$viewValue" />
            </td>
        </tr>
        <tr>
            <td align="right">Admin Password
            </td>
            <td align="left">
                <input type="text" ng-model="fraBy" id="Text1" placeholder="Indtast password" data-typeahead="by for by in byer | filter:$viewValue" /></td>
        </tr>
    </table>
</div>

