<div class="container-fluid" align="center">
    <div class="overskrift" style="text-align: center;">
        <font size="6" face="Garamond"><b>Administration</b></font>
        
    </div>
    <div class="col-md-12 row rutebox img-rounded" align="left">
        <div class="col-md-12 row">
            <div class="col-md-3">
                Priser
            </div>
            <div class="col-md-3" align="right">
                Vægt:
            </div>
            <div class="col-md-2">
                {{result.PakkeDimensioner[0].PakkePriser[0].FromWeight}} - 
                {{result.PakkeDimensioner[0].PakkePriser[0].ToWeight}} g
            </div>
            <div class="col-md-2">
                {{result.PakkeDimensioner[1].PakkePriser[1].FromWeight}} - 
                {{result.PakkeDimensioner[1].PakkePriser[1].ToWeight}} g
            </div>
            <div class="col-md-2">
                {{result.PakkeDimensioner[2].PakkePriser[2].FromWeight}} - 
                {{result.PakkeDimensioner[2].PakkePriser[2].ToWeight}} g
            </div>
        </div>
        <div class="col-md-12 row" ng-repeat="pakkeDimension in result.PakkeDimensioner">
            <div class="col-md-3" align="right">
                Dimensionstype:
            </div>
            <div class="col-md-3" align="right">
                {{pakkeDimension.DimensionNavn}}:
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" ng-model="pakkeDimension.PakkePriser[0].Price" placeholder="40 $" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" ng-model="pakkeDimension.PakkePriser[1].Price" placeholder="60 $" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" ng-model="pakkeDimension.PakkePriser[2].Price" placeholder="80 $" class="form-control" />
                </div>
            </div>
        </div>
       
        <div class="col-md-12 row" ng-repeat="fragtType in result.FragtTypeMultipliers">
            <div class="col-md-3" align="right">
                Fragttypefaktor
            </div>
            <div class="col-md-3" align="right">
                {{fragtType.Name}}
            </div>
            <div class="col-md-2">
                <div class="inner-addon left-addon">
                    <input type="text" ng-model="fragtType.Multiplier" placeholder="-" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
        </div>
        
    </div>
    <div class="col-md-12 row">
    </div>
    <div class="col-md-12 row lysrutebox img-rounded" align="left">
        <div class="col-md-12 row">
            <div class="col-md-4">
                Lufthavne
            </div>
            <div class="col-md-4" align="right">
                
            </div>
            <div class="col-md-4" align="left">
                
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-4" ng-repeat="lufthavn in result.Lufthavne">
                 <input type="checkbox" ng-model="lufthavn.isActive"> {{lufthavn.name}}
            </div>
        </div>
        
    </div>

    <div class="row">
        <button class="btn btn-default" value="Find rute" ng-click="saveAdmin()">
            <span><font size="4" face="Garamond">Gem Ændringer</font></span>
        </button>
    </div>
</div>
