<div class="container-fluid" align="center">
    <table border="1" cellpadding="5" width="90%" style="margin-bottom: 30px">
        <tr>
            <td align="center"><font size="6" face="Garamond">Adminstration</font></td>
        </tr>
    </table>
    <table border="0" cellpadding="4" width="90%"style="margin-bottom: 10px">
        <tr>
            <td bgcolor="silver" colspan="5"></td>
        </tr>
        <tr>
            <td align="left"><b>Priser</b></td>
            <td align="right"></td>
            <td align="left">Under 1 kg</td>
            <td align="left">1 - 5 kg</td>
            <td align="left">Over 5 kg</td>
        </tr>
        <tr>
            <td align="left">pr. flyvning</td>
            <td align="right">Dimensionstype A:</td>
            <td align="left">
                <input type="text" ng-model="Pris01" placeholder="40 $" /></td>
            <td align="left">
                <input type="text" ng-model="Pris02" placeholder="60 $" /></td>
            <td align="left">
                <input type="text" ng-model="Pris03" placeholder="80 $" /></td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Dimensionstype B:</td>
            <td align="left">
                <input type="text" ng-model="Pris04" placeholder="48 $" /></td>
            <td align="left">
                <input type="text" ng-model="Pris05" placeholder="68 $" /></td>
            <td align="left">
                <input type="text" ng-model="Pris06" placeholder="88 $" /></td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Dimensionstype C:</td>
            <td align="left">
                <input type="text" ng-model="Pris07" placeholder="56 $" /></td>
            <td align="left">
                <input type="text" ng-model="Pris08" placeholder="76 $" /></td>
            <td align="left">
                <input type="text" ng-model="Pris09" placeholder="95 $" /></td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Dimensionstype D:</td>
            <td align="left">
                <input type="text" ng-model="Pris10" placeholder="64 $" /></td>
            <td align="left">
                <input type="text" ng-model="Pris11" placeholder="84 $" /></td>
            <td align="left">
                <input type="text" ng-model="Pris12" placeholder="104 $" /></td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Dimensionstype E:</td>
            <td align="left">
                <input type="text" ng-model="Pris13" placeholder="80 $" /></td>
            <td align="left">
                <input type="text" ng-model="Pris14" placeholder="100 $" /></td>
            <td align="left">
                <input type="text" ng-model="Pris15" placeholder="120 $" /></td>
        </tr>
        <tr>
            <td bgcolor="silver" colspan="5"></td>
        </tr>
        <tr>
            <td align="left"><b>Fragttypefaktor</b></td>
            <td align="right"></td>
            <td align="left" colspan="3">
            </td>
        </tr>
        <tr>
            <td align="left">ganges med prisen</td>
            <td align="right">Levende dyr</td>
            <td align="left" colspan="3">
                <input type="text" placeholder="kan ikke transporteres" style="background-color: transparent; padding-left: 4px" ng-model="FraBy" disabled /></td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Kølevare</td>
            <td align="left" colspan="3">
                <input type="text" ng-model="Koelevare" placeholder="1.10" style="padding-left: 4px" /></td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Anbefalet</td>
            <td align="left" colspan="3">
                <input type="text" placeholder="kan ikke transporteres" style="background-color: transparent; padding-left: 4px" ng-model="FraBy" disabled /></td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Våben</td>
            <td align="left" colspan="3">
                <input type="text" ng-model="Vaaben" placeholder="2.00" style="padding-left: 4px" /></td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Forsigtig</td>
            <td align="left" colspan="3">
                <input type="text" ng-model="Forsigtig" placeholder="1.75" style="padding-left: 4px" /></td>
        </tr>
        <tr>
            <td bgcolor="silver" colspan="5"></td>
        </tr>

        <tr>
            <td align="left"><b>Lufthavne</b></td>
            <td align="right"></td>
            <td align="left"></td>
        </tr>
        <tr ng-repeat="lufthavn in lufthavne">
            <td align="left"><b></b></td>
            <td align="right">{{lufthavn.navn}} :</td>
            <td align="left">
                <input type="checkbox" ng-model="lufthavn.aktiveret">
                Lufthavn aktiv.</td>
        </tr>
    </table>
    <div class="row">
        <button class="btn btn-default" value="Find rute" ng-click="visRute()">
            <span><font size="4" face="Garamond">Gem Ændringer</font></span>
        </button>
    </div>
</div>
