<div class="container" align="center">
    <table border="1" cellpadding="2" width="85%" style="margin-bottom: 30px">
        <tr>
            <td align="center"><font size="6" face="Garamond">Find din rute</font></td>
        </tr>
    </table>
    <table cellspacing="3" width="85%">
        <tr>
            <td bgcolor="silver" colspan="3"></td>
        </tr>
        <tr>
            <td align="left"><b>Start og Slut</b></td>
            <td align="right">Fra:</td>
            <td align="left">
                <input type="text" data-ng-model="rute.FraBy" placeholder="Indtast bynavn" data-typeahead="by.name as by.name for by in byer | filter:$viewValue" /></td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Til:</td>
            <td align="left">
                <input type="text" data-ng-model="rute.TilBy" placeholder="Indtast bynavn" data-typeahead="by.name as by.name for by in byer | filter:$viewValue" /></td>
        </tr>
        <tr>
            <td bgcolor="silver" colspan="3"></td>
        </tr>
        <tr data-ng-repeat="fragtType in fragtTyper">
            <td align="left"><b></b></td>
            <td align="right">{{fragtType.name}}</td>
            <td align="left">
                <input type="checkbox" data-ng-model="fragtType.Markeret" data-ng-change="valgteTyper(fragtType)">
            </td>
        </tr>
        <tr>
            <td bgcolor="silver" colspan="3"></td>
        </tr>
        <tr>
            <td align="left"><b>Vægt</b></td>
            <td align="right">Vægt i gram:</td>
            <td align="left">
                <input type="number" ng-model="rute.Vaegt" placeholder="Vægt i gram" /></td>
        </tr>
        <tr>
            <td bgcolor="silver" colspan="3"></td>
        </tr>
        <tr>
            <td align="left"><b>Dimensioner</b></td>
            <td align="right">A:</td>
            <td align="left">
                <input type="radio" name="Dimension" value="A" ng-model="rute.Dimension">
                25x60x25</td>
        </tr>
        <tr>
            <td align="right"></td>
            <td align="right">B:</td>
            <td align="left">
                <input type="radio" name="Dimension" value="B" ng-model="rute.Dimension">
                40x40x40</td>
        </tr>
        <tr>
            <td align="right"></td>
            <td align="right">C:</td>
            <td align="left">
                <input type="radio" name="Dimension" value="C" ng-model="rute.Dimension">
                15x100x15</td>
        </tr>
        <tr>
            <td align="right"></td>
            <td align="right">D:</td>
            <td align="left">
                <input type="radio" name="Dimension" value="D" ng-model="rute.Dimension">
                20x80x20</td>
        </tr>
        <tr>
            <td align="right"></td>
            <td align="right">E:</td>
            <td align="left">
                <input type="radio" name="Dimension" value="E" ng-model="rute.Dimension">
                30x50x30</td>
        </tr>
    </table>
    <div class="row">
        <button class="btn btn-default" value="Find rute" ng-click="findRute()">
            <span><font size="4" face="Garamond">Find rute</font></span>
        </button>
    </div>
</div>
