<div class="container-fluid" align="center">
    <table border="0" cellpadding="2" width="85%" style="margin-bottom: 30px">
        <tr>
            <td align="center"><font size="6" face="Garamond">Log in</font></td>
        </tr>
    </table>
    <table border="0" cellpadding="2" width="85%" align="center">
        <tr>
            
            <td align="center">
                <input type="text" ng-model="Brugernavn" placeholder="Indtast brugernavn" style="padding-left: 4px"/></td>
        </tr>
        <tr>
            
            <td align="center">
                <input type="text" ng-model="Password" placeholder="Indtast password" style="padding-left: 4px"/></td>
        </tr>
    </table>

    
         
            <div class="row">
                <div class="col-md-6">Test</div>
                <div class="col-md-6">Test2</div>
            </div>
           
        


</div>
