<div class="container-fluid" align="center">
    <div class="row overskrift">
        <div class="col-md-3" align="center">
        </div>
        <div class="col-md-9" align="left"><font size="6" face="Garamond"><b>Priser</b></font></div>
    </div>
    <div class="col-md-12 row rutebox img-rounded">
        <div class="col-md-12 row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                Under 1 kg
            </div>
            <div class="col-md-3">
                1 - 5 kg
            </div>
            <div class="col-md-3">
                Over 5 kg
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-3">
                Dimension A: 25x60x25
            </div>
            <div class="col-md-3">
                40 $
            </div>
            <div class="col-md-3">
                60 $
            </div>
            <div class="col-md-3">
                80 $
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-3">
                Dimension B: 40x40x40
            </div>
            <div class="col-md-3">
                48 $
            </div>
            <div class="col-md-3">
                68 $
            </div>
            <div class="col-md-3">
                88 $
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-3">
                Dimension C: 15x100x15
            </div>
            <div class="col-md-3">
                56 $
            </div>
            <div class="col-md-3">
                76 $
            </div>
            <div class="col-md-3">
                96 $
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-3">
                Dimension D: 20x80x20
            </div>
            <div class="col-md-3">
                64 $
            </div>
            <div class="col-md-3">
                84 $
            </div>
            <div class="col-md-3">
                104 $
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-3">
                Dimension E: 30x50x30
            </div>
            <div class="col-md-3">
                80 $
            </div>
            <div class="col-md-3">
                100 $
            </div>
            <div class="col-md-3">
                120 $
            </div>
        </div>
    </div>
</div>
