<div class="container-fluid" align="center">
    <table border="1" cellpadding="2" width="85%" style="margin-bottom: 30px">
        <tr>
            <td align="center"><font size="6" face="Garamond">Ruteforslag</font></td>
        </tr>
    </table>
    <table bgcolor="silver" frame="box" cellpadding="2" width="85%">
        <tr>
            <td align="left"><b>Dine valg</b></td>
            <td align="right">Fra</td>
            <td align="left">
                <input type="text" style="background-color: transparent; border-style:solid; border-width: 0px 0px 1px 0px; border-color: black" ng-model="FraBy" disabled/>
            </td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Til</td>
            <td align="left">
                <input type="text" style="background-color: transparent; border-style:solid; border-width: 0px 0px 1px 0px; border-color: black" ng-model="TilBy" disabled/>
            </td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Vægt</td>
            <td align="left">
                <input type="text" style="background-color: transparent; border-style:solid; border-width: 0px 0px 1px 0px; border-color: black" ng-model="Vaegt" disabled/>
            </td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Dimensioner</td>
            <td align="left">
                <input type="text" style="background-color: transparent; border-style:solid; border-width: 0px 0px 1px 0px; border-color: black" ng-model="Dimensioner" disabled/>
            </td>
        </tr>
        <tr>
            <td align="left"><b>Fragttype</b></td>
            <td align="right">Levende dyr:</td>
            <td align="left">
                <input type="checkbox" ng-model="LevendeDyr" disabled>
            </td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Kølevare:</td>
            <td align="left">
                <input type="checkbox" ng-model="Koelevare" disabled></td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Anbefalet:</td>
            <td align="left">
                <input type="checkbox" ng-model="Anbefalet" disabled>
            </td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Våben:</td>
            <td align="left">
                <input type="checkbox" ng-model="Vaaben" disabled></td>
        </tr>
        <tr>
            <td align="left"></td>
            <td align="right">Forsigtig:</td>
            <td align="left">
                <input type="checkbox" ng-model="Forsigtig" disabled></td>
        </tr>
        <tr>
            <td bgcolor="silver" colspan="9"></td>
        </tr>
    </table>
    <table border="0" cellpadding="2" width="85%">

        <tr>
            <td><b>Hurtigste rute</b></td>
            <td></td>
            <td></td>
            <td><b>Transporttype</b></td>
            <td><b>Fra</b></td>
            <td><b>Til</b></td>
            <td align="right"><b>Step Tid</b></td>
            <td align="right"><b>Step Pris</b></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Telstar: Lastbil</td>
            <td>Tanger</td>
            <td>Bumleby</td>
            <td align="right">01:54</td>
            <td align="right">21 $</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Oceanic: Fly</td>
            <td>Bumleby</td>
            <td>Kapstaden</td>
            <td align="right">04:13</td>
            <td align="right">44 $</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="9" align="center">
                <button style="background-color: cornflowerblue" class="btn btn-default" value="Find rute" ng-click="visRute()">
                    <span><font size="4" face="Garamond">Gem denne rute</font></span>
                </button>

            </td>
        </tr>
        <tr>
            <td bgcolor="silver" colspan="9"></td>
        </tr>

        <tr>
            <td><b>Billigste rute</b></td>
            <td></td>
            <td></td>
            <td><b>Transporttype</b></td>
            <td><b>Fra</b></td>
            <td><b>Til</b></td>
            <td align="right"><b>Step Tid</b></td>
            <td align="right"><b>Step Pris</b></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Telstar: Lastbil</td>
            <td>Tanger</td>
            <td>Bumleby</td>
            <td align="right">01:54</td>
            <td align="right">21 $</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Oceanic: Fly</td>
            <td>Bumleby</td>
            <td>Kapstaden</td>
            <td align="right">04:13</td>
            <td align="right">44 $</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="9" align="center">
                <button style="background-color: cornflowerblue" class="btn btn-default" value="Find rute" ng-click="visRute()">
                    <span><font size="4" face="Garamond">Gem denne rute</font></span>
                </button>

            </td>
        </tr>
        <tr>
            <td bgcolor="silver" colspan="9"></td>
        </tr>

    </table>
</div>
