<div class="container-fluid" align="center" data-ng-show="result.success">

    <div class="row overskrift">
        <div class="col-md-3" align="center">
        </div>
        <div class="col-md-9" align="left"><font size="6" face="Garamond"><b>Vælg din rute</b></font></div>
    </div>
    <div class="col-md-12 row rutebox img-rounded">
        <div class="col-md-3 row">
            <div class="col-md-12" align="center">
                {{request.FraBy}}
            </div>
        </div>
        <div class="col-md-3 row">
        </div>
        <div class="col-md-3 row">
            <div class="col-md-12" align="left">
                {{request.TilBy}}
            </div>
        </div>
        <div class="col-md-3 row lysrutebox img-rounded">
            <div class="col-md-12 row" align="left">
                Dine valg:    
            </div>
            <div class="col-md-12 row" align="left">
                Vægt: {{request.Vaegt}} 
            </div>
            <div class="col-md-12 row" align="left">
                Dimensionsklasse: {{request.DimensionsType}}
            </div>
            <div class="col-md-12 row" align="left">
                Fragttyper:
            </div>
            <div data-ng-repeat="fragttype in fragtTyper | filter:filterFragt">
                <div class="col-md-12 row" align="left">
                    {{fragttype.PacketType}}
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-md-12 row">
    </div>
    <div class="col-md-12 row lysrutebox img-rounded" data-ng-repeat="rute in Ruter">
        <div class="col-md-12 row" align="left">
            <div class="col-md-2">
                {{rute.RuteType}}
            </div>
            <div class="col-md-2">
                Transporttype
            </div>
            <div class="col-md-2">
                Fra
            </div>
            <div class="col-md-2">
                Til
            </div>
            <div class="col-md-2">
                Step tid
            </div>
            <div class="col-md-2">
                Step pris
            </div>
        </div>
        <div class="col-md-12 row" align="left">
            <i class="glyphicon glyphicon-time"> {{rute.TotalTid}}</i>
            <i class="glyphicon glyphicon-usd"> {{rute.TotalPris}}</i>
        </div>
        <div class="col-md-12 row" align="left" data-ng-repeat="ruteTrin in rute.RuteTrin">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                {{ruteTrin.TransportType}}
            </div>
            <div class="col-md-2">
                {{ruteTrin.FraBy}}
            </div>
            <div class="col-md-2">
                {{ruteTrin.TilBy}}
            </div>
            <div class="col-md-2">
                {{ruteTrin.Tid}}
            </div>
            <div class="col-md-2">
                {{ruteTrin.Pris}}
            </div>
        </div>
        <div class="col-md-12 row" align="center">
            <button class="btn btn-default" value="gem rute" ng-click="gemRute()">
                <span><font size="4" face="Garamond">Gem denne rute</font></span>
            </button>
        </div>
    </div>
    <!--<div class="col-md-12 row">
    </div>
    <div class="col-md-12 row lysrutebox img-rounded">
        <div class="col-md-12 row" align="left">
            <div class="col-md-2">
                Hurtigste rute
            </div>
            <div class="col-md-2">
                Transporttype
            </div>
            <div class="col-md-2">
                Fra
            </div>
            <div class="col-md-2">
                Til
            </div>
            <div class="col-md-2">
                Step tid
            </div>
            <div class="col-md-2">
                Step pris
            </div>
        </div>
        <div class="col-md-12 row" align="left">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                Lastbil unmapped
            </div>
            <div class="col-md-2">
                fraBy unmapped
            </div>
            <div class="col-md-2">
                tilBy unmapped
            </div>
            <div class="col-md-2">
                Step tid unmapped
            </div>
            <div class="col-md-2">
                Step pris unmapped
            </div>
        </div>
        <div class="col-md-12 row" align="center">
            <button class="btn btn-default" value="gem rute" ng-click="gemRute()">
                <span><font size="4" face="Garamond">Gem denne rute</font></span>
            </button>
        </div>
    </div>-->

</div>
<div class="container" align="center" data-ng-hide="result.success">
    <div class="row">
        <div class="col-md-12">
            <h2>Den ønskede rute kunne desværre ikke planlægges fra {{request.FraBy}} til {{request.TilBy}} </h2>
            <h3>Dette skyldes normalt at der ikke eksisterer rute for fly, skib eller bil</h3>
        </div>
    </div>
</div>
