<!DOCTYPE html>
<html ng-app="Oceanic">
<head>
    <title></title>
</head>
<body>
    <div class="container-fluid" align="center" data-ng-controller="OceanicController">
        <table border="1" cellpadding="2" width="85%">
            <tr>
                <td align="center"><font size="6" face="Garamond">Ruteoversigt</font></td>
            </tr>
        </table>
        <table border="0" cellpadding="2" width="85%">
            <tr>
                <td align="left"><b>Rute 1</b></td>
                <td></td>
                <td align="right">Fra</td>
                <td>Tanger</td>
                <td></td>
                <td></td>
                <td align="left">Total tid</td>
                <td align="left">XX:XX</td>
                <td></td>
            </tr>
            <tr>
                <td align="left"></td>
                <td align="left"></td>
                <td align="right">Til</td>
                <td align="left">Kapstaden</td>
                <td></td>
                <td align="right"></td>
                <td align="left">Total pris</td>
                <td align="left">XX $</td>
                <td align="left"></td>
            </tr>
            <tr>
                <td align="left">Pakke</td>
                <td align="left"></td>
                <td align="right">Vægt</td>
                <td align="left">XXXX g</td>
                <td align="left"></td>
                <td align="right"></td>
                <td align="left"></td>
                <td align="left"></td>
                <td align="left"></td>
            </tr>
            <tr>
                <td align="left"></td>
                <td align="left"></td>
                <td align="right">Dimensioner</td>
                <td align="left">XXxYYxZZ</td>
                <td align="left"></td>
                <td align="right"></td>
                <td align="left"></td>
                <td align="left"></td>
                <td align="left"></td>
            </tr>
            <tr>
                <td align="left"></td>
                <td align="left"></td>
                <td align="right">Fragttype</td>
                <td align="left">[Fragttype(r)]</td>
                <td align="left"></td>
                <td align="right"></td>
                <td align="left"></td>
                <td align="left"></td>
                <td align="left"></td>
            </tr>
            <tr>
                <td><b>Rute, step by step</b></td>
                <td></td>
                <td></td>
                <td><b>Transporttype</b></td>
                <td><b>Fra</b></td>
                <td><b>Til</b></td>
                <td><b>Step Tid</b></td>
                <td><b>Step Pris</b></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Telstar: Lastbil</td>
                <td>Tanger</td>
                <td>Bumleby</td>
                <td>01:54</td>
                <td>21 $</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Oceanic: Fly</td>
                <td>Bumleby</td>
                <td>Kapstaden</td>
                <td>04:54</td>
                <td>44 $</td>
                <td></td>
            </tr>
            <tr>
                <td bgcolor="silver" colspan="9"></td>
            </tr>








            <tr>
                <td align="left"><b>Rute ..</b></td>
                <td></td>
                <td align="right">Fra</td>
                <td>?</td>
                <td></td>
                <td></td>
                <td align="left">Total tid</td>
                <td align="left">XX:XX</td>
                <td></td>
            </tr>
            <tr>
                <td align="left"></td>
                <td align="left"></td>
                <td align="right">Til</td>
                <td align="left">?</td>
                <td></td>
                <td align="right"></td>
                <td align="left">Total pris</td>
                <td align="left">XX $</td>
                <td align="left"></td>
            </tr>
            <tr>
                <td align="left"></td>
                <td align="left"></td>
                <td align="right"></td>
                <td align="left"></td>
                <td></td>
                <td align="right"></td>
                <td align="left"></td>
                <td align="left"></td>
                <td align="left"></td>
            </tr>
            <tr>
                <td><b>Rute, step by step</b></td>
                <td></td>
                <td></td>
                <td><b>Transporttype</b></td>
                <td><b>Fra</b></td>
                <td><b>Til</b></td>
                <td><b>Step Tid</b></td>
                <td><b>Step Pris</b></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>?: ?</td>
                <td>?</td>
                <td>?</td>
                <td>??:??</td>
                <td>?? $</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>?: ?</td>
                <td>?</td>
                <td>?</td>
                <td>??:??</td>
                <td>?? $</td>
                <td></td>
            </tr>
            <tr>
                <td bgcolor="silver" colspan="9"></td>
            </tr>
        </table>
    </div>
</body>
</html>
