html, body {
    height: 100%;
    padding: 10px;
}

.vertical-center {
    height: 100%;
    width: 100%;
}

.row {
    border: 1px;
    padding-bottom: 5px;
}

.overskrift {
    background-clip: padding-box;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border: 1px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.col {
    font-family:"Garamond";
    background-color:black;
}

.nav-tabs > li, nav-pills > li {
    float: none;
    display: inline-block;
    font-size: 16pt;
}

.nav-tabs, .nav-pills {
    text-align: center;
    font-size: 16pt
}

table {
    width:90%;
    padding: 10px;
    font-family:"Garamond";
    font-size:larger;
}

th, td {
    padding: 10px;
    font-family:"Garamond";
    font-size:larger;
}

input[type=checkbox]
{
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

input[type=radio] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

