@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="Oceanic">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.js"></script>
        <script src="Scripts/oceanic.js"></script>
        <script src="Scripts/controllers/ForsideController.js"></script>
        <script src="Scripts/controllers/FindRuteController.js"></script>
        <script src="Scripts/controllers/PriserController.js"></script>
        <script src="Scripts/controllers/RuteoversigtController.js"></script>
        <script src="Scripts/controllers/AdministrationController.js"></script>
        
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="Content/oceanicStyle.css"/>
    </head>
    <body>
        <div class="container-fluid full-width" align="center" data-ng-controller="OceanicController">
            <div class="container" style="padding: 30px">
                <img ng-src="{{image.path}}" width="50%"/>
            </div>
            <div class="row-fluid">
                <ul class="nav nav-tabs">
                    <li><a href="#Forside"> Forside </a></li>
                    <li><a href="#FindRute"> Find Rute</a></li>
                    <li><a href="#Ruteoversigt"> Ruteoversigt </a></li>
                    <li><a href="#Priser"> Priser </a></li>
                    <li><a href="#Administration"> Administration </a></li>
                </ul>
            </div>
            <div class="col-md-9" align="center" style="padding: 30px">
                <div ng-view></div>
            </div>
        </div>
    </body>
</html>

